/*
    Paginator 3000
    - idea by ecto (ecto.ru)
    - coded by karaboz (karaboz.ru)

    HTML example
    <div class="paginator" id="paginator_example">
        <table>
            <tr>
                <td><span><strong>1</strong></span></td>
                ...
                <td><span><a href="">3000</a></span></td>
            </tr>
            <tr>
                <td colspan="">
                    <div class="scroll_bar">
                        <div class="scroll_trough"></div>
                        <div class="scroll_thumb">
                            <div class="scroll_knob"></div>
                        </div>
                        <div class="current_page_mark"></div>
                    </div>                
                </td>

            </tr>
        </table>
    </div>
*/
.paginator {
    margin-top:2px;
    font-size:1em;
    width:100%;
}
.paginator table {
    border-collapse:collapse;
    table-layout:fixed;
    width:100%;
}
.paginator table td {
    padding:0;
    white-space:nowrap;
    text-align:center;
}
.paginator span {
    display:inline;
    padding:3px 0;
    color:#fff;
}
.paginator span strong,
.paginator span a {
    padding:2px 6px;
}
.paginator span strong {
    background:#A00000;
    font-style:normal;
    font-weight:normal; 
}
.paginator .scroll_bar {
    width:100%;    height:10px;
    position:relative;
    margin-top:10px; 
}
.paginator .scroll_trough {
    width:100%;    height:3px;
    background:#ccc;
    overflow:hidden;
}
.paginator .scroll_thumb {
    position:absolute;
    width:0; height:3px;
    top:0; left:0;
    font-size:1px;
    background:#363636;
}
.paginator .scroll_knob {
    position:absolute;
    top:-5px; left:50%;
    margin-left:-10px;
    width:20px; height:20px;
    overflow:hidden;
    background:url(../img/slider_knob.gif) no-repeat 50% 50%;
    cursor:pointer; cursor:hand;
}
.paginator .current_page_mark {
    position:absolute;
    top:0; left:0;
    width:0; height:3px;
    overflow:hidden;
    background:#A00000;
}

.fullsize .scroll_thumb {
    display:none;
}


.paginator_pages {
    width:100%;
    text-align:right;
    font-size:0.8em; 
    color:#808080;
    margin-top:-10px; 
}